html{
	min-width:900px;
	overflow:auto;
	font:normal 62.5% verdana,sans-serif,cantarell,"trebuchet ms",arial,"bitstream vera sans";
	color:#111;
}
h1,h2,h3,h4{
	font-weight:bold;
	margin:10px 0 10px 0;
	color:black;
}
h1{font-size:19px;}
h2{font-size:17px;}
h3{font-size:16px;}
h4{font-size:15px;}
input[type=text],input[type=select]{
	width:100px;
}
label{
	font-weight:bold;
}
a{
	border:none;
	font-family:sans-serif;
	color:#2450B5;
	outline:none;
	text-decoration:none;
}
a:hover{
	color:#137cdd;
}

a.action{
	color:#B55107;
}

img{
	vertical-align:middle;
	border:none;
}
p{
	margin:5px 0 5px 0;
}
span.seperator{
	font-family:tahoma;
	font-size:15px;
}

.text{
	font:normal 1.1em verdana,sans-serif,cantarell,"trebuchet ms",arial,"bitstream vera sans";
}

.hidden{
	display:none;
}

.centerer{
	margin:auto auto;
}

/* Forms - BEGIN */

form.frm{
	width: 97%;
	padding: 5px;

	/* BorderRadius */
	border-radius:3px;
	-moz-border-radius:3px;
	-khtml-border-radius:3px;
	-webkit-border-radius:3px;

	/* Box Shadow */
	box-shadow: 0px 0px 6px #777;
	-moz-box-shadow: 0px 0px 6px #777;
	-webkit-box-shadow: 0px 0px 6px #777;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#777777')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#777777');
}

form ul.frmItems{

}
form ul.frmItems li{
	margin-top:2px;
	line-height:25px;
	overflow:hidden;
}
form ul.frmItems li div.fLabel{
	float:left;
}
form ul.frmItems li div.fInput{
	float:right;
}

form .frmTitle{
	margin:0 0 15px 0;
	padding:0 0 5px 0;
	border-bottom:1px solid #e9e9e9;
	color:#003D73;
	font-size:13px;
}

.frmAlert.successful,.frmAlert.unsuccessful{
	padding:3px;
}
.frmAlert.successful{
	color:green;
	background:#e7ffe7;
	border:1px solid #d3ffd3;
}
.frmAlert.unsuccessful{
	color:red;
	background:#ffecec;
	border:1px solid #ffdada;
}
.frmAlert img{
	margin-right:8px;
}

/* Forms - END */


/* qtip - BEGIN */

.ui-tooltip a.qtipHide{
	color:orange;
}

/* qtip - END */
