#feedbackImg{
	position:fixed;
	bottom:5px;
	right:5px;
	background-image:url(../images/feedback2.png);
	width:126px;
	height:37px;
	margin:0px 5px 0 0;
}

#feedbackForm{
	width:250px;
	padding:7px;
}
#feedbackForm p{
	margin-bottom:10px;
}
#feedbackForm label{
	font-weight:normal;
}
#feedbackForm label,#feedbackForm input[type=text],#feedbackForm textarea{
	display:block;
	width:97%;
}
#feedbackForm textarea{
	height:80px;
}
#feedbackForm input[type=text],textarea{
	border:1px solid #e9e9e9;
}
#feedbackForm input[type=submit]{
	margin-left:0;
}

