.index.centerer{
	margin-top:15px;
	width:900px;
	overflow:hidden;
}
.whatis{
	margin:10px 20px;
	float:left;
	width:500px;
	font:14px verdana,sans-serif;
}

.whatis h1{
	color:#003D73;
	font:24px verdana,helvetica,arial;
}
.whatis p{
	margin-bottom:20px;
}

.forms{
	margin-right:20px;
	float:right;
	width:280px;
}
.registerForm, .loginForm{
	margin:20px 0;
}
.loginForm .fLabel,.registerForm .fLabel{
	width:80px;
}
.loginForm .fInput,.registerForm .fInput{
	width:190px;
}

#todos ul{
	padding-left:20px;
	margin:10px 0 ;
	list-style-type:disc;
}

#todos ul li{
	margin:4px 0;
}

#todos a{
	font:14px verdana,helvetica;
}
