.whatis{
	float:left;
	width:400px;
	height:20px;
}
.forms{
	margin-right:20px;
	float:right;
	width:280px;
}
.registerForm, .loginForm{
	margin:20px 0;
}
.loginForm .fLabel,.registerForm .fLabel{
	width:80px;
}
.loginForm .fInput,.registerForm .fInput{
	width:190px;
}
