#banner{
	margin:0;
	padding:0;
	height:44px;
	background:url(../images/bannerBg.png) #fff repeat-x;
	overflow:hidden;
}

#logo{
	float:left;
	background-image:url(../images/logo.png);
	margin-left:50px;
	width:115px;
	height:44px;
}

#topMenu{
	float:left;
	overflow:hidden;
	margin:0 0 0 50px;
	width:500px;
	height:33px;
	color:#fff;
}
#topMenu li{
	float:left;
	padding:7px 0 8px 0;
}
#topMenu a{
	padding:7px 12px 8px 12px;
	font:normal 18px sans-serif;
	text-shadow: 1px 1px black, 1px 1px white;
	color:#fff;
}
#topMenu a:hover,#topMenu a.active{
	/*background:url(../images/topMenuHoverBg.png) repeat-x;*/
	text-shadow: 1px  1px 10px #fff;
}


/* BEGIN - User Menu On Banner */

#userMenu{
	float:right;
	margin:0;
	padding:0 10px 0 10px;
	height:33px;
	font:normal 14px/33px sans-serif;
	color:#fff;
	background:#106e8b;
	overflow:hidden;
	text-align:center;
	
	/* Box Shadow */
	box-shadow:0px 0px 7px #555;
	-moz-box-shadow:0px 0px 7px #555;
	-webkit-box-shadow:0px 0px 7px #555;
	/* For IE 8 */
	-ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#555555')";
	/* For IE 5.5 - 7 */
	filter:progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#555555');

	/* Gradient */
	background: -moz-linear-gradient(270deg,#2c9bbd,#106e8b);
	background: -webkit-linear-gradient(270deg,#2c9bbd,#106e8b);
	background: -o-linear-gradient(270deg,#2c9bbd,#106e8b);
	background: -ms-linear-gradient(270deg,#2c9bbd,#106e8b);
	filter: progid:DXImageTransform.Microsoft.gradient(
		startColorstr='#2c9bbd',endColorstr='#106e8b',GradientType=0 
	);
	background: linear-gradient(270deg,#2c9bbd,#106e8b);
}
#userMenu img{
	width:16px;
	height:16px;
	margin-left:4px;
}
#userMenui #subMenu{
}

/* END - User Menu On Banner */


/* BEGIN - Word Search Form On Banner */

form#wordSearch{
	float:right;
	margin:4px 10px 0 10px;
	width:200px;
	height:24px;
	/*background:url(../images/inputBoxBg.png) #fff repeat-x;*/
	background:#fff;
	overflow:hidden;

	/*Box Radius*/
	border-radius:2px;
	-moz-border-radius:2px;
	-khtml-border-radius:2px;
	-webkit-border-radius:2px;
	
	/* Box Shadow */
	box-shadow:inset 0px 0px 5px #000;
	-moz-box-shadow:inset 0px 0px 5px #000;
	-webkit-box-shadow:inset 0px 0px 5px #000;
	/* For IE 8 */
	-ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=90, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter:progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=90, Color='#000000');
}
form#wordSearch input{
	float:left;
	margin:2px 0 0 2px;
	width:160px;
	height:16px;
	padding:1px 1px 1px 2px;
	font:italic 13px inherit;
	font-style:italic;
	border:none;
	background:none;
	outline:none;
}
form#wordSearch img{
	float:right;
	width:20px;
	height:20px;
	margin:2px 3px 0 0;
	cursor:pointer;
}

/* END - Word Search Form On Banner */
