/*
.loginForm label{
	display:inline-block;
	width:80px;
}
.loginForm label input{
	margin-left:5px;
}
.loginForm input[type=text],.loginForm input[type=password]{
	width:150px;
}
.loginForm input[type=submit]{
	margin-left:0;
}
*/
.loginForm .frmItems .fLabel{
	width:80px;
}
.loginForm .frmItems .fInput{
	width:150px;
}
.loginForm{
	/*Box Radius*/
	border-radius:5px;
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	
	border:1px solid #D2D2D2;
	width:97%;
	padding:5px;
	
	/* Box Shadow */
	box-shadow:0px 0px 7px #555;
	-moz-box-shadow:0px 0px 7px #555;
	-webkit-box-shadow:0px 0px 7px #555;
	/* For IE 8 */
	-ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#555555')";
	/* For IE 5.5 - 7 */
	filter:progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#555555');
}
