.notification{
	width:300px;
	margin:20px auto;
	background:#fff5e0;
	border:1px solid #ffe1a2;

	/*Box Radius*/
	border-radius:5px;
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	
	/* Box Shadow */
	box-shadow:0px 0px 7px #555;
	-moz-box-shadow:0px 0px 7px #555;
	-webkit-box-shadow:0px 0px 7px #555;
	/* For IE 8 */
	-ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#555555')";
	/* For IE 5.5 - 7 */
	filter:progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#555555');
}
.notification .title{
	padding:3px 7px 3px 7px;
	background:#ffeec9;
}
.notification .title h4{
	margin:0;
	padding:0;
}
.notification .body{
	padding:10px 7px 10px 7px;
}

