/*
.profileForm label{
	display:inline-block;
	width:80px;
}
.profileForm input[type=text],
	.profileForm input[type=password],
	.profileForm select{
	width:150px;
}
.profileForm input[type=button]{
	margin-left:0;
}
*/
.profilePage{
	width:765px;
	margin:20px auto;
	overflow:hidden;
}
.profileForm input[type=text],
	.profileForm input[type=password],
	.profileForm select{
	width:150px;
}
.profileForm input[type=button]{
	margin-left:0;
}
.profileForm .fLabel{
	width:90px;
}
.profileForm .fInput{
	width:260px;
}
.profileForm{
	float:left;
	margin:5px;
	border:1px solid #D2D2D2;
	width:350px;
	height:220px;
}
.profileForm img.question{
	cursor:pointer;
}
.profileForm img.calendar{
	cursor:pointer;
	margin-left:3px;
}

.profileForm.email,.profileForm.practice{
	height:160px;
}

