#vcbContainer{
	min-width:950px;
	overflow:auto;
}
.listSide,.detailSide{
	margin:0px 10px 10px 20px;
	float:left;
}
.listSide{
	width:335px;
	padding-right:21px;
	border-right:1px solid #d0d0d0;
	/*
	box-shadow:0px 0px 12px #333;
	-moz-box-shadow:0px 0px 12px #333;
	-webkit-box-shadow:0px 0px 16px #333;
	*/
}
.listSide .vcbForms{
	background:#fff;
}
.detailSide{
	width:550px;
	margin-left:20px;
	z-index:-999999;
}

.detailSide .wordShowingIndc{
	font:1.3em verdana,helvetica;
	margin-top:50px;
	display:block;
	text-align:center;
}
.detailSide .wordShowingIndc img{
	margin:0 10px;
}
.wordAdditionForm, .wordFilterForm{margin:14px 5px;}

.wordAdditionForm input[name="tag"]{width:68px}

.listSide .vcbForms{
	/*overflow:hidden;*/
	background-color:#fff;
	padding-top:20px;
	padding-right:9px;
}
