form.wordPackageGroups{
	display:none;
	width:350px;
	position:absolute;
	background-color:#fff;
	margin:-2px 0 0 50px;
	z-index:999999;
} 
form.wordPackageGroups .frmTitle{
	margin-bottom:0;
}
.wordPackageGroups ul.groups{
	height:350px;
	overflow:auto;
	margin-bottom:5px;
	border-bottom:1px solid #E9E9E9
}

.wordPackageGroups label.g{
	font:1.4em helvetica,sans-serif;
	color:#000;
}

.wordPackageGroups img.togglePack{
	vertical-align:top;
}

.wordPackageGroups .groupItem{
	display:block;
	margin:1px 0;
	padding:2px 0;
	border:1px solid #fff;
}
.wordPackageGroups .groupItem:hover{
	border-radius:5px;
	background-color:#FFF7C9;
	border:1px solid #DCD089;
}

.wordPackageGroups ul.packages{
	margin-left:21px;
}
.wordPackageGroups .packages label{
	font-weight:normal;
}
