.wordDetails{
	padding:10px;
	font:normal 14px verdana,sans-serif;
}
.wordDetails h4{
	margin:5px 0 5px 0;
	font:bold 12px verdana,helvetica;
	color:#696969;
	text-transform:uppercase;
	margin-right:7px;
}
.wordDetails h4.inline{
	display:inline-block;
}
.wordDetails a{
	line-height:21px;
	text-decoration:none;
}
.wordDetails div.addMore a{
	text-decoration:none;
}
.wordDetails ul{
	margin-left:10px;
	list-style-type:disc;
	padding-left:20px;
}
.wordDetails ul.quotes li blockquote{
	font:normal 1.0em verdana,sans-serif,cantarell,"trebuchet ms",arial,"bitstream vera sans";
	line-height:24px;
}
.wordDetails ul li{
	margin:3px 0;
}
.wordDetails div, .wordDetails ul{
	margin-bottom:10px;
}
.wordDetails ul.gray{
	list-style-type:none;
	color:#7F7F7F;
}
.wordDetails ul.gray span{
	margin-left:5px;
}
.wordDetails .gray{
	color:#7F7F7F;
}
.wordDetails .seperator{
	margin:0 3px 0 3px;
	border-left:1px solid #3372D9;
	padding-left:7px;
}
/* THIS DIV TAG WILL REPLACE TO IMG TAG */
.wordDetails .img{
	background:#D0E4F0;
	width:400px;
	height:150px;
	text-align:center;
	vertical-align:middle;
}
.wordDetails div.delAndTestLinks{
	margin-top:30px;
}


.wordDetails .pronunciation{
	font:0.7em verdana,sans;
	color:#999;
}

.wordDetails .etymology{
	font:normal 11px verdana,sans,helvetica;
	line-height:16px;
	color:#555;
}

.wordDetails div.meanings{
	/*font:normal 1.1em verdana,sans-serif,cantarell,"trebuchet ms",arial,"bitstream vera sans";*/
	margin-bottom:20px;
}

.wordDetails ol.meanings{
	margin-left:25px;
	list-style-position:outside;
}

.wordDetails li.meaning{
	margin:6px 0;
}

.meanings .lang{
	/* image-text replacement */
	text-indent:-999px;
	height:16px; 
	width:16px;
	display:inline-block;
	background:url('../images/flags/usa.png') no-repeat;
	
}

.meanings .lang.tr{
	background-image:url('../images/flags/turkey.png');
}
.meanings .lang.en{
	background-image:url('../images/flags/usa.png');
}

.quotes .addForm{
	display:none;
}

.quotes .addForm input{
	width:290px;
}

/* word header includes pronunciation and add/remove button */
h1 .addRemove{
	margin-left:20px;
	padding:2px 3px;
	font:11px helvetica,arial!important;
	border-radius:2px;
}
