form.wordPackages{
	display:none;
	width:200px;
	position:absolute;
	background-color:#fff;
	margin:-2px 0 0 50px;
	z-index:999999;
} 
form.wordPackages .frmTitle{
	margin-bottom:0;
}
ul.wordPackages{
	height:180px;
	overflow:auto;
	margin-bottom:5px;
	border-bottom:1px solid #E9E9E9

}

ul.wordPackages li{
	margin:2px 0;
	padding:2px 0;
	border:1px solid #fff;
}
ul.wordPackages li:hover{
	border-radius:5px;
	background-color:#FFF7C9;
	border:1px solid #DCD089;
}
ul.wordPackages label{
	display:block;
	font:normal 11px helvetica,sans-serif;
}
ul.wordPackages li.in label{
	font-weight:bold;
}
