.wordList{
    	position:fixed;
    	top:100px;
    	bottom:10px;
	padding:10px;
	width:336px;
	border-right:1px solid #D0D0D0;
}
.wordList h2{
	font-family:"cantarell","Trebuchet MS" , Arial, "Bitstream Vera Sans" , sans-serif;
	font-weight:normal;
	font-size:17px;
	color:#444;
}
.wordList .words li{
	margin-bottom:6px;
	padding:2px 0 3px 0;
}
.wordList .words li.selected{
	border-radius:4px;
	background-color:#fff0c3;
}
.wordList .words li .wordIds{
	visibility:hidden;
}
.wordList .words li.selected .wordIds,
.wordList .words li:hover .wordIds{
	visibility:visible;
}

.wordList .words li span{
	margin-right:5px;
}
.wordList .words li span.removed{
	text-decoration:line-through;
	color:#ff0000;
}

.wordList .words li .level{
	display:inline-block;
	width:10px;
	color:#C3C3C3;
	text-align:center;
}
.wordList .words li .word{
	border:1px solid white;
	padding:4px 6px;
	font-size:16px;
}
.wordList .words li .word:hover{
	/*Box Radius*/
	border-radius:4px;
	-moz-border-radius:4px;
	-khtml-border-radius:4px;
	-webkit-border-radius:4px;
	
	background-color:#FFF7C9;
	padding:4px 6px;
	cursor:pointer;
}

.wordList .wordsForm{
	margin-bottom:4px;
	height:25px;
}
.wordList button{
	display:none;
}

/* For Infinite scroll loading div */
.wordList .infSclIndicator > div,.wordList .infSclIndicator img{
	display:inline;
	margin-left:20px;
}

