rewriteengine On
RewriteRule ^vocabulary /main.php?_controller=vocabulary?&%{QUERY_STRING}
RewriteRule ^tests /main.php?_controller=tests?&%{QUERY_STRING}
RewriteRule ^users /main.php?_controller=users?&%{QUERY_STRING}
