rewriteengine On
RewriteRule ^vocabulary /main.php?_controller=vocabulary?&%{QUERY_STRING}
RewriteRule ^tests /main.php?_controller=tests?&%{QUERY_STRING}
RewriteRule ^users /main.php?_controller=users?&%{QUERY_STRING}
RewriteRule ^profile /main.php?_controller=profile?&%{QUERY_STRING}
RewriteRule ^status /main.php?_controller=status?&%{QUERY_STRING}
RewriteRule ^search main.php?_controller=search?&%{QUERY_STRING}
RewriteRule ^dashboard /main.php?_controller=dashboard?&%{QUERY_STRING}
RewriteRule ^quoteSearch /main.php?_controller=quoteSearch?&%{QUERY_STRING}
RewriteRule ^flashCards /main.php?_controller=flashCards?&%{QUERY_STRING}
RewriteRule ^$ /main.php?_controller=index?&%{QUERY_STRING}


#RewriteCond %{REQUEST_URI} \.css$
#RewriteRule ^.*css\/(.*)$ css/$1 [L]

#RewriteCond %{REQUEST_URI} \.js$
#RewriteRule ^.*js\/(.*)$ js/$1 [L]

