/* STYLE FOR ALL TEST PAGES */
.testPage{
	width:98%;
}
.testPageHeader{
	border-bottom:1px solid gray;
	padding:10px;
}
.testPageHeader h1{
	color:#D73A0F;
}
.testPageHeader p{
	font-size:14px;
	color:#696969;
}
.testPageHeader p span{
	margin-left:7px;
}
.testPageHeader p span.correctAnswers{
	color:green;
}
.testPageHeader p span.incorrectAnswers{
	color:red;
}
.testPageOl{
	margin:20px 0 0 30px;
	font-size:13px;
	width:85%;
}
.testPageOl li{
	margin-bottom:20px;
}
.testPageOl li *{
	margin-left:8px;
	vertical-align:middle;
}
/* For e.g each word */
.testPageOl .resultForEachItem{
	display:none;
}
.testPageOl input[type=text]{

}
.testPageOl p.clue, .testPageOl span.clue{
	color:gray;
}
.testPageOl ul{
	margin:10px 0 0 20px;
}
.testPageOl ul li{
	margin:5px 0 5px 0;
}

/* ToolTips for test pages */

.questionResult li{
	margin-bottom:2px;
}
.questioResult *{
	padding:2px;
}
.questionResult .c{
	background:#8aeb6d;
	border:1px solid green;
	color:black;
}
.questionResult .i{
	background:#ff8787;
	border:1px solid red;
	color:black;
}
.questionResult .l{
	text-decoration:line-through;
}

/* ToolTips for test pages */
