.userSocialInfo{
	width:97%;
	overflow:hidden;
	font:13px sans-serif,helvetica,verdana;
	color:#555;
}
.userSocialInfo .compatibility{
	overflow:hidden;
	line-height:25px;
}
.userSocialInfo .compatibility .status{
	float:left;
	display:block;
	margin-right:15px;
	width:250px;
	height:25px;
	border:1px solid #B8D086;

	/*Box Radius*/
	border-radius:5px;
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
}
.userSocialInfo .compatibility .status .chart{
	position:absolute;
	width:5px;
	height:25px;

	/* Gradient */
	background: -moz-linear-gradient(270deg,#d1ff87,#9cff00);
	background: -webkit-linear-gradient(270deg,#d1ff87,#9cff00);
	background: -o-linear-gradient(270deg,#d1ff87,#9cff00);
	background: -ms-linear-gradient(270deg,#d1ff87,#9cff00);
	filter: progid:DXImageTransform.Microsoft.gradient(
		startColorstr='#d1ff87',endColorstr='#9cff00',GradientType=0 
	);
	background: linear-gradient(270deg,#d1ff87,#9cff00);
}
.userSocialInfo .compatibility .status .text{
	position:absolute;
	margin:0 auto;
	width:250px;
	font:13px/25px helvetica,sans-serif,verdana;
	word-spacing:5px;
	text-align:center;
	text-transform:uppercase;
	text-shadow:0 1px 0 #eee;
}
.userSocialInfo .compatibility a.whatIsThis{
	color:#3B8BAE;
}
.userSocialInfo .chat{
	overflow:hidden;
}
.userSocialInfo .chat a.haveChat{
	float:left;
	width:120px;
	height:25px;
	line-height:25px;
	text-align:center;
}
.userSocialInfo .chat .info{
	float:left;
	display:block;
	margin:5px 0 0 15px;
	width:120px;
	overflow:hidden;
}
.userSocialInfo .chat .info .status{
	display:block;
}
.userSocialInfo .chat .info .status{
	overflow:hidden;
}
.userSocialInfo .chat .info .status .graphic,
.userSocialInfo .chat .info .status .text{
	float:left;
	display:block;
}
.userSocialInfo .chat .info .status .graphic{
	margin-right:5px;
	border:1px solid #555;
	width:8px;
	height:8px;

	/*Box Radius*/
	border-radius:100px;
	-moz-border-radius:100px;
	-khtml-border-radius:100px;
	-webkit-border-radius:100px;
}
.userSocialInfo .chat .info .status .graphic.offline{
	background:gray;
}
.userSocialInfo .chat .info .status .graphic.online{
	background:#9cff00;
}
.userSocialInfo .chat .info .status .text{
	font:13px sans-serif,helvetica,verdana;
	color:#555;
}
